<footer class="small-text">
	<p>
		<a href="https://github.com/mcecode/mce.codes">Made by mcecode</a>.
	</p>
	<p>
		<a href="https://github.com/mcecode/mce.codes/blob/main/LICENSE"
			>Content licensed under CC BY-SA 4.0. Code licensed under GPLv3.</a
		>
	</p>
	<p>
		Thoughts are my own and does not reflect that of my employer or anyone else.
	</p>
</footer>
