---
import type { CollectionEntry } from "astro:content";

import { getCollection } from "astro:content";

import CreatedUpdatedTime from "@components/created-updated-time.astro";
import Article from "@layout/article.astro";
import Page from "@layout/page.astro";

export async function getStaticPaths() {
  return (await getCollection("notes")).map((note) => ({
    params: { slug: note.slug },
    props: { note }
  }));
}

type Props = { note: CollectionEntry<"notes"> };
const { note } = Astro.props;
const { Content } = await note.render();
const { title, dateCreated, dateUpdated } = note.data;
---

<Page title={title}>
  <Article>
    <h1 class="smaller-spacing">{title}</h1>
    <CreatedUpdatedTime
      class="small-text larger-spacing"
      created={dateCreated}
      updated={dateUpdated}
    />
    <Content />
  </Article>
</Page>
