@use "sass:list";

@use "lib";

// Colors

@use "json:colors" as *;

@function color($color) {
  @return lib.deep-get($colors, $color);
}

// Fonts

$_fonts: (
  "title": (
    "Raleway",
    sans-serif
  ),
  "body": (
    "Inter",
    sans-serif
  )
);

@function font($font) {
  @return lib.deep-get($_fonts, $font);
}

// Sizes

$_sizes: ();

@for $i from 1 through 20 {
  $_sizes: list.append($_sizes, $i * 0.25);
}

@for $i from 1 through 20 {
  $_sizes: list.append($_sizes, list.nth($_sizes, list.length($_sizes)) + 1);
}

$_units: (
  "rem": 0rem,
  "em": 0em
);

@function size($size, $unit: "rem") {
  @return list.nth($_sizes, $size) + lib.deep-get($_units, $unit);
}

// Constants

$_consts: (
  "section_spacing": (
    "xsmall": size(5),
    "small": size(10),
    "medium": size(15),
    "large": size(20)
  )
);

@function const($const) {
  @return lib.deep-get($_consts, $const);
}
