---
import type { CollectionEntry } from "astro:content";

import { getCollection, render } from "astro:content";

import CreatedUpdatedTime from "@components/created-updated-time.astro";
import Article from "@layout/article.astro";
import Page from "@layout/page.astro";

export async function getStaticPaths() {
  return (await getCollection("writings")).map((writing) => ({
    params: { id: writing.id },
    props: { writing }
  }));
}

type Props = { writing: CollectionEntry<"writings"> };
const { writing } = Astro.props;
const { Content } = await render(writing);
const { title, dateCreated, dateUpdated } = writing.data;
---

<Page {title}>
  <Article>
    <h1 class="smaller-spacing">{title}</h1>
    <CreatedUpdatedTime
      class="small-text larger-spacing"
      created={dateCreated}
      updated={dateUpdated}
    />
    <Content />
  </Article>
</Page>
