---
import Picture from "@/components/picture.astro";

import avatarPng from "@/assets/avatar.png";
---

<section>
	<Picture
		resize="down"
		alt="An avatar with a man bun, a beard, and a mustache, wearing eyeglasses and a black and gray shirt."
		{...avatarPng}
	/>
	<h1>Hi, I'm Matthew</h1>
	<p>This is my tech-focused digital garden.</p>
</section>

<style lang="scss">
	section {
		display: grid;
		grid-template-areas: "avatar" "title" "subtitle";
		gap: v-size(2);
		margin-bottom: v-const("section_spacing.medium");
		text-align: center;
	}
	picture {
		grid-area: avatar;
		justify-self: center;
	}
	h1 {
		grid-area: title;
	}
	p {
		grid-area: subtitle;
		font-size: v-size(7);
		word-break: keep-all;
	}

	@include m-large {
		section {
			grid-template-areas: "avatar title" "avatar subtitle";
			grid-template-columns: 2fr 3fr;
			column-gap: v-size(5);
			margin-bottom: v-const("section_spacing.large");
			text-align: left;
		}
		picture {
			justify-self: end;
		}
		h1 {
			align-self: end;
			margin: 0;
		}
	}
</style>
