---
type Props = { title: string; description: string };
const { title, description } = Astro.props;
---

<section>
  <h2>{title}</h2>
  <p>{description}</p>
</section>

<style lang="scss">
  section {
    margin-bottom: v-size(16);
  }

  @include m-large {
    section {
      display: flex;
      gap: v-size(5);
      margin-bottom: v-size(20);
    }
    h2 {
      flex: 1 0 40%;
      text-align: right;
    }
  }

  @include m-xlarge {
    h2 {
      flex-basis: 30%;
    }
  }
</style>
