---
import Hero from "@/components/pages/about/hero.astro";
import Section from "@/components/pages/about/section.astro";
import Page from "@/layout/page.astro";
---

<Page title="About">
	<Hero />
	<Section title="Here, you can find my">
		<ul>
			<li>shortish <a href="/notes">notes</a>,</li>
			<li>longer form <a href="/writings">writings</a>,</li>
			<li>
				and (outdated) list of <a href="/projects">projects</a> (that I should definitely
				update).
			</li>
		</ul>
	</Section>
	<Section title="Right now">
		<div>
			<p>
				it's pretty plain and sparse, but I try to add new things and improve on
				what's already here when I get the time.
			</p>
			<p>Hope you enjoy your stay.</p>
		</div>
	</Section>
</Page>
