---
import { getCollection } from "astro:content";

import PostItem from "@components/post-item.astro";
import Page from "@layout/page.astro";

const notes = await getCollection("notes");
---

<Page title="Notes">
  <h1 class="smaller-spacing">Notes</h1>
  <p class="larger-spacing">
    Short notes, reminders, or checklists for myself that might also be useful
    to you
  </p>
  <ul>
    {
      notes
        .sort(
          (a, b) => b.data.dateCreated.getTime() - a.data.dateCreated.getTime()
        )
        .map(({ slug, data: { title, dateCreated, dateUpdated } }) => (
          <PostItem
            {title}
            {dateCreated}
            {dateUpdated}
            link={`/notes/${slug}`}
          />
        ))
    }
  </ul>
</Page>
