---
import ItemCard from "@/components/pages/projects/item-card.astro";
import Page from "@/layout/page.astro";

import eslintConfigMcecodeGif from "@/assets/eslint-config-mcecode.gif";
import espinoHollowblocksGif from "@/assets/espino-hollowblocks.gif";
import jiggleGif from "@/assets/jiggle.gif";
import memePartyGif from "@/assets/meme-party.gif";
import pdfMadeEasyGif from "@/assets/pdf-made-easy.gif";
---

<Page title="Projects">
	<h1 class="larger-spacing">Projects</h1>
	<ul>
		<ItemCard
			title="PDF Made Easy"
			link="https://github.com/mcecode/pdf-made-easy"
			description="A CLI application and library for developing and creating PDF documents."
			image={{
				alt: "A demo showing how the PDF Made Easy autorefresh feature works as the output PDF refreshes when either the template or data file is updated.",
				...pdfMadeEasyGif,
			}}
		/>
		<ItemCard
			title="Jiggle"
			link="https://github.com/mcecode/jiggle"
			description="An application that automatically moves your mouse around which should keep your machine awake."
			image={{
				alt: "A demo showing Jiggle being started, moving the mouse, and finally being stopped by a keypress.",
				...jiggleGif,
			}}
		/>
		<ItemCard
			title="eslint-config-mcecode"
			link="https://github.com/mcecode/eslint-config-mcecode"
			description="An opinionated set of ESLint rules that work with Prettier out of the box."
			image={{
				alt: "A demo showing how the rules packaged with eslint-config-mcecode can be used with ESLint either through a code editor or the terminal.",
				...eslintConfigMcecodeGif,
			}}
		/>
		<ItemCard
			title="Espino Hollowblocks"
			link="https://espinohollowblocks.ph"
			description="A website for a local manufacturer that provides quality concrete products, gravel, and sand to the construction industry."
			image={{
				alt: "A demo scrolling through the Espino Hollowblocks website, showing its different sections.",
				...espinoHollowblocksGif,
			}}
		/>
		<ItemCard
			title="Meme Party"
			link="https://mcecode.github.io/meme-party"
			description="A fun site that shows random memes from Reddit."
			image={{
				alt: "A demo of Meme Party loading with animations and showing memes from Reddit.",
				...memePartyGif,
			}}
		/>
	</ul>
</Page>
