<footer>
  <p>
    <a href="https://github.com/mcecode/mce.codes" target="_blank"
      >Made by mcecode</a
    >.
  </p>
  <p>
    Content licensed under <a
      href="https://creativecommons.org/licenses/by-sa/4.0"
      target="_blank">CC BY-SA 4.0</a
    >
    Code licensed under <a
      href="https://www.gnu.org/licenses/gpl-3.0.html"
      target="_blank">GPLv3</a
    >.
  </p>
  <p>
    Thoughts are my own and does not reflect that of my employer or anyone else.
  </p>
</footer>

<style lang="scss">
  footer {
    font-size: v-size(3);
    color: var(--c-accent);
  }

  @include m-medium {
    footer {
      font-size: v-size(4);
    }
  }
</style>
