---
type Props = { title: string };
const { title } = Astro.props;
---

<section>
	<h2>{title}</h2>
	<slot />
</section>

<style lang="scss">
	section {
		margin-bottom: v-const("section_spacing.medium");
	}
	h2::after {
		content: "...";
	}

	@include m-large {
		section {
			display: grid;
			grid-template-columns: 2fr 3fr;
			gap: v-size(5);
			margin-bottom: v-const("section_spacing.large");
		}
		h2 {
			text-align: right;
		}
	}
</style>
